*, *::after, *::before {
    margin: 0px;
    padding: 0px;
}

/* body {
    background-color: #303E47;
} */

.main_container {
    position: absolute;
    top: 10vh;
    left: 15vw;
    right: 15vw;
    padding: 80px;
    background-color: #303E47;
}
/* 
.sub_container {
    position: relative;
} */

.heading {
    display: flex;
    width: 50%;
    margin: auto;
}

.img_container {
    /* background-image: url('walking-to-school.png'), linear-gradient(to right,#01b2dd,#01b2dd); */
    background-image: linear-gradient(to right,#01b2dd,#01b2dd);
    background-position: center;
    width: 100px;
    height: 63px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px;
    overflow: hidden;

}

.img_play {
    max-width: 100%;
    max-height: 100%;
    margin: 2px;
}

.heading_content {
    margin-left: 10px;
}

.main_heading {
    text-align: left;
    color: #FC5B5E;
    font-weight: bold;
    font-size: 57px;
    letter-spacing: 0px;
}

.sub_heading {
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.firstrow {
    margin-top: 50px;
    display: flex;
}

.first-column {
    width: 50%;
    background-color: #FF9E1B;
    text-align: center;
    padding: 20px;
}

.img_posture {
    width: 3vw;
    height: 3vw;
}

p {
    color: #FFF;
    font-size: 18px;
}

.capitalise {
    text-transform: uppercase;
}

.stats {
    font-size: 35px;
    font-weight: bold;
}

.overweight {
    font-size: 25px;
    font-weight: bold;
}

.none {
    font-weight: bold;
}

.second-column {
    width: 50%;
    background-color: #63CDFB;
    text-align: center;
    padding: 20px;
}
.underline {
    text-decoration: underline;
}

.secondrow {
    margin: 50px auto;
    background-color: #FC5B5E;
    padding: 30px;
}

.secondrow-top {
    display: flex;
}

.head-content p{
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 23px;
}

.head-icons {
    margin-top: 10px;
    margin-left: 60px;
    display: flex;
    text-align: center;
}
.icon1 {
    margin: 0px 15px;
}

.icon1 p{
    margin-top: 5px;
}

.secondrow-bottom {
    padding-top: 20px;
}

.preventable {
    font-weight: bold;
    text-decoration: underline;
}

.thirdrow {
    margin-top: 50px;
    background-color: #01b2dd;
    padding: 20px;
}

.thirdrow h1 {
    text-transform: uppercase;
    color: white;
}

.thirdrow h1::after {
    content: url('exclamation.png');
    margin-left: 10px;
}

.p_container {
    display: flex;
    margin-top: 10px;
} 
.p_container p {
    padding: 15px;
}

.fourthrow {
    display: flex;
    margin-top: 50px;
}

.fourth-first-column {
    width: 50%;
    background-color: #FC5B5E;
    text-align: center;
    padding: 20px;
}

.fourth-first-column h2 ,.fourth-second-column h2{
    color: #FFF;
    font-size: 25px;
    text-transform: uppercase;
}

.fourth-first-column p, .fourth-second-column p {
    font-size: 22px;
}

.percent {
    font-size: 50px;
    font-weight: bolder;
}

.fourth-first-column img, .fourth-second-column img {
    margin: 20px;
}

.fourth-second-column {
    width: 50%;
    background-color: #FF9E1B;
    text-align: center;
    padding: 20px;
}

.fifthrow {
    background-color: #01b2dd;
    margin-top: 50px;
    padding: 20px;
    display: flex;
} 

.fifthrow h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}
.fifthrow h1 span{
    letter-spacing: 5px;
}

.more {
    font-weight: bold;
    text-decoration: underline;
}

.fifthrow img {
    padding: 20px;
}

.sixthrow {
    background-color: #FF9E1B;
    margin-top: 50px;
    padding: 20px;
    display: flex;
} 

.sixthrow h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}

.sixthrow img {
    padding: 15px;
    transform: rotate(310deg);
}

.seventhrow {
    display: flex;
    margin-top: 50px;
}

.seventh-first-column {
    width: 50%;
    background-color:#FC5B5E;
    text-align: center;
    padding: 20px;
}

.seventh-second-column h1{
    color: #FFF;
    font-size: 45px;
    padding-top: 10px;
    text-transform: uppercase;
}

.seventh-first-column p, .seventh-second-column p {
    font-size: 22px;
}

.seventh-second-column {
    width: 50%;
    background-color: #01b2dd;
    text-align: center;
    padding: 20px;
}

.seventh-first-column h2 {
    color: #FFF;
    font-size: 25px;
    padding-top: 10px;
    text-transform: uppercase;
}

@media screen and (max-width : 2560px) {
    .img_container {
        width: 136px;
        height: 136px;
    }   
    .main_heading {
        font-size: 107px;
    }
    .sub_heading {
        font-size: 32px;
    }
    .img_posture {
        width: 5vw;
        height: 5vw;
    }
    .stats {
        font-size: 80px;
    }
    .overweight {
        font-size: 55px;
    }
    p {
        font-size: 40px;
    }
    .first-column {
        padding: 30px;
    }
    .head-content p {
        font-size: 65px;
    }
    .icon1 {
        margin: 0px 52px;
    }
    .icon1 img {
        width: 5vw;
    }
    .icon1 p {
        margin-top: 20px;
    }
    .secondrow-bottom {
        padding-top: 30px;
    }
    .thirdrow h1 {
        font-size: 70px;
    }
    .thirdrow h1::after {
        content: url('danger-sign.png');
    }
    .fourth-first-column, .fourth-second-column {
        padding: 30px;
    }
    .fourth-first-column h2, .fourth-second-column h2 {
        font-size: 65px;
    }
    .fourth-first-column p, .fourth-second-column p {
        font-size: 40px;
    }
    .percent {
        font-size: 110px;
    }
    .fourth-first-column img, .fourth-second-column img {
        width: 5vw;
    }
    .fifthrow h1 {
        font-size: 110px;
    }
    .fifthrow img {
        width: 15vw;
        margin-right: 160px;
    }
    .sixthrow h1 {
        font-size: 110px;
    }
    .sixthrow img {
        width: 15vw;
        margin-right: 160px;
    }
    .seventh-second-column img {
        width: 5vw;
    }
    .seventh-first-column p, .seventh-second-column p {
        font-size: 40px;
    }
    .seventh-second-column h1 {
        font-size: 110px;
    }
    .seventh-first-column h2  {
        font-size: 50px;
    }
}


@media screen and (max-width : 1440px) {
    .main_container {
        left: 13vw;
        right: 13vw;
    }
    .img_play {
        max-width: 90%;
        max-height: 90%;
    }
    .img_container {
        width: 75px;
        height: 75px;
    }   
    .main_heading {
        font-size: 70px;
    }
    .sub_heading {
        font-size: 18px;
    }
    .img_posture {
        width: 4vw;
        height: 4vw;
    }
    .stats {
        font-size: 60px;
    }
    .overweight {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
    .first-column {
        padding: 25px;
    }
    .head-content p {
        font-size: 34px;
    }
    .head-icons {
        margin-left: 25px;
        margin-top: 5px;
    }
    .icon1 {
        margin: 0px 15px;
    }
    .icon1 img {
        width: 4vw;
    }
    .icon1 p {
        margin-top: 20px;
    }
    .thirdrow h1 {
        font-size: 40px;
    }
    .thirdrow h1::after {
        content: url('exclamation.png');
    }
    .fourth-first-column, .fourth-second-column {
        padding: 30px;
    }
    .fourth-first-column h2, .fourth-second-column h2 {
        font-size: 40px;
    }
    .fourth-first-column p, .fourth-second-column p {
        font-size: 25px;
    }
    .percent {
        font-size: 80px;
    }
    .fourth-first-column img, .fourth-second-column img {
        width: 5vw;
    }
    .fifthrow h1 {
        font-size: 65px;
    }
    .fifthrow img {
        margin-right: 80px;
    }
    .sixthrow h1 {
        font-size: 65px;
    }
    .sixthrow img {
        margin-right: 80px;
    }
    .seventh-second-column img {
        width: 5vw;
    }
    .seventh-first-column p, .seventh-second-column p {
        font-size: 25px;
    }
    .seventh-second-column h1 {
        font-size: 65px;
    }
    .seventh-first-column h2  {
        font-size: 30px;
    }
}

@media screen and (max-width : 1024px) {
    .main_container {
        left: 10vw;
        right: 10vw;
        padding: 50px;
    }
    .img_play {
        max-width: 90%;
        max-height: 90%;
    }
    .img_container {
        width: 59px;
        height: 57px;
    }   
    .main_heading {
        font-size: 60px;
    }
    .sub_heading {
        font-size: 16px;
    }
    .stats {
        font-size: 45px;
    }
    .overweight {
        font-size: 28px;
    }
    p {
        font-size: 20px;
    }
    .first-column {
        padding: 25px;
    }
    .head-content p {
        font-size: 33px;
    }
    .head-icons {
        margin-left: 20px;
        margin-top: 5px;
    }
    .icon1 {
        margin: 0px 15px;
    }
    .icon1 img {
        width: 5vw;
    }
    .icon1 p {
        margin-top: 20px;
    }
    .thirdrow h1 {
        font-size: 33px;
    }
    .thirdrow h1::after {
        content: url('exclamation.png');
    }
    .fourth-first-column, .fourth-second-column {
        padding: 30px;
    }
    .fourth-first-column h2, .fourth-second-column h2 {
        font-size: 33px;
    }
    .fourth-first-column p, .fourth-second-column p {
        font-size: 20px;
    }
    .percent {
        font-size: 65px;
    }
    .fifthrow h1 {
        font-size: 58px;
    }
    .fifthrow img {
        margin-right: 40px;
    }
    .sixthrow h1 {
        font-size: 58px;
    }
    .sixthrow img {
        margin-right: 40px;
    }
    .seventh-first-column p, .seventh-second-column p {
        font-size: 20px;
    }
    .seventh-second-column h1 {
        font-size: 50px;
    }
    .seventh-first-column h2  {
        font-size: 25px;
    }
}

@media screen and (max-width : 768px) {
    .main_container {
        left: 5vw;
        right: 5vw;
        padding: 30px;
    }
    .img_container {
        width: 45px;
        height: 45px;
    }   
    .img_play {
        max-width: 90%;
        max-height: 90%;
    }
    .main_heading {
        font-size: 50px;
    }
    .sub_heading {
        font-size: 14px;
    }
    .stats {
        font-size: 40px;
    }
    .overweight {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    .head-content p {
        font-size: 28px;
    }
    .head-icons {
        margin-left: 20px;
        margin-top: 5px;
    }
    .icon1 {
        margin: 0px 15px;
    }
    .icon1 img {
        width: 7vw;
    }
    .icon1 p {
        margin-top: 10px;
    }
    .secondrow-bottom {
        padding-top: 10px;
    }
    .thirdrow h1 {
        font-size: 28px;
    }
    .p_container p {
        padding: 5px;
    }
    .thirdrow h1::after {
        content: url('exclamation.png');
    }
    .fourth-first-column, .fourth-second-column {
        padding: 20px;
    }
    .fourth-first-column h2, .fourth-second-column h2 {
        font-size: 28px;
    }
    .fourth-first-column p, .fourth-second-column p {
        font-size: 16px;
    }
    .percent {
        font-size: 45px;
    }
    .fourth-first-column img, .fourth-second-column img {
        width: 9vw;
    }
    .fifthrow h1 {
        font-size: 50px;
    }
    .sixthrow h1 {
        font-size: 50px;
    }
    .seventh-first-column p, .seventh-second-column p {
        font-size: 16px;
    }
    .seventh-second-column h1 {
        font-size: 45px;
    }
    .seventh-first-column h2  {
        font-size: 20px;
    }
}

@media screen and (max-width : 426px) {
    .main_container {
        top: 2vw;
        left: 0vw;
        right: 0vw;
        padding: 30px;
    }
    .heading{
        width: 82%;
    }
    .firstrow {
        display: block;
    }
    .first-column, .second-column {
        width: 86%;
        padding: 25px;
    }
    .img_posture {
        width: 7vw;
        height: 7vw;
    }
    .second-column {
        margin-top: 50px;
    }
    .secondrow {
        margin: 50px 0px;
    }
    .secondrow-top {
        display: block;
    }
    .head-content p {
        font-size: 28px;
    }
    .head-icons {
        margin-left: 20px;
        margin-top: 15px;
    }
    .icon1 {
        margin: 0px 15px;
    }
    .secondrow-bottom {
        padding-top: 20px;
    }
    .p_container {
        display: block;
    }
    .fourthrow {
        display: block;
    }
    .fourth-first-column, .fourth-second-column {
        width: 86%;
        padding: 25px;
    }
    .fourth-second-column {
        margin-top: 50px;
    }
    .fourth-first-column h2, .fourth-second-column h2 {
        font-size: 30px;
    }
    .percent {
        font-size: 60px;
    }
    .fourth-first-column img, .fourth-second-column img, .seventh-second-column img {
        width: 15vw;
    }
    .fifthrow h1 {
        font-size: 30px;
    }
    .fifthrow h1 span {
        letter-spacing: 3px;
    }
    .fifthrow img {
        margin-right: 10px;
    }
    .sixthrow h1 {
        font-size: 30px;
    }
    .seventhrow {
        display: block;
    }
    .seventh-first-column, .seventh-second-column {
        width: 86%;
        padding: 25px;
    }
    .seventh-first-column {
        margin-top: 50px;
    }
    .seventh-second-column h1 {
        font-size: 35px;
    }
}

@media screen and (max-width : 376px) {
    .heading {
        width: 96%;
    }

    .head-content p {
        font-size: 25px;
    }
    
    .head-icons {
        margin-left: 0px;
    }

    .icon1 {
        margin: 0px 12px;
    }

    .fifthrow h1 span {
        letter-spacing: 1px;
    }

    .fifthrow h1 {
        font-size: 24px;
    }

    .fifthrow img {
        margin-right: 0px;
    }

    .sixthrow h1 {
        font-size: 24px;
    }
}

@media screen and (max-width : 321px) {
    
    .main_container {
        top: 0vh;
        padding: 10px;
    }
    .heading {
        width: 88%;
    }
    .img_posture {
        width: 10vw;
        height: 10vw;
    }
    .img_container {
        width: 40px;
        height: 38px;
    }
    .main_heading {
        font-size: 42px;
    }
    .sub_heading {
        font-size: 12px;
    }
    .first-column, .second-column, .fourth-first-column, .fourth-second-column,.seventh-first-column, .seventh-second-column {
        width: 83%;
        margin-top: 20px;
    }
    .head-content p {
        font-size: 24px;
    }
    .icon1 img {
        width: 10vw;
    }
    .secondrow {
        margin-bottom: 0px;
    }
    .fifthrow, .sixthrow, .seventhrow,.fourthrow,.thirdrow,.secondrow,.firstrow {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .fifthrow h1, .sixthrow h1 {
        font-size: 32px;
    }
    .fourth-first-column img, .fourth-second-column img,.fifthrow img, .sixthrow img, .seventh-second-column img {
        width: 30vw;
        margin-right: 0px;
    }
}